body{
  margin:0;
}
header{
  margin:0;
  height: 70px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
}
header-in{
  height: 50px;
  width: 100%;
  display:inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  position: fixed;
  background-color: white;
  z-index: 10;
}
.logo1{
  display:inline;
  margin-top: 7px;
}
.text1{
  display: inline;
  font-size:12px;
  
}
.request{
  float:right;
  margin-right: 70px;
  display:inline-block;
  margin-top: 13px;
  border: 1px solid rgb(216, 73, 64);
  background-color:rgb(216, 73, 64);
  border-radius: 25px;
  height: 35px;
  width: 300px;
  text-align:center;

}
.request a{
  font-size:12px;
  color: white;
  text-decoration: none;
  line-height:35px;
  display:inline-block;
  width:300px;
  border-radius:25px;
  }
  /*----------------isara-top-------------------*/
  .isara-top {
  height:500px;
  min-width:100%;
  background-color: yellow;
  background-image : url("../main.jpg");
  text-align:center;
  display:inline-block;background
  background-repeat: norepeat;
  background-size: cover;

}
.container{
  margin-top:80px;

  }
.text2{
 font-size: 27px;
 font-weight: 600;
}
.text3{
  font-weight:600;

}
/*------------------ask--------------*/
.ask{
  background-color:#EBB94D;
  height: 400px;
  width:100%;
  text-align:center;
  margin-bottom: 50px;
  }
.ask-in{
  padding-top:40px;
  
}
.ask1{
  margin-top:0;
  font-weight: 550;
  color: white;
  margin-bottom:5px;
}
.ask2{
  color:red;
  font-weight:550;
  border:1px solid white;
  background-color:white;
  display:inline-block;
  line-height:17px;
  margin-top: 10px;
  border-radius: 2px;
  
}
.request2{
  display:inline-block;
  border: 1px solid rgb(216, 73, 64);
  background-color:rgb(216, 73, 64);
  border-radius: 50px;
  height: 60px;
  width: 80%;
  text-align:center;
}
.request2 a {
  display:inline-block;
  vertical-align: middle;
  width:100%;
  line-height: 60px;
  color: white;
  font-weight: 600;
  text-decoration: none;
  }
  .six, .seven, .eight{
    color: white;
    font-weight: 600;
    margin-top:20px;
  }
  .sns{
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}

  }
  .twitter {
    background-color: pink;
    display:inline-block;
    width:60px;
    float:left;
    margin-left: auto;
    margin-right: auto;
  }
  .facebook {
    display:inline-block;
    float:right;
    margin-left: auto;
    margin-right: auto;
  }
  /*----------------freedom---------------------*/
.freedom{
  height:560px;
  background-image:url("../introbottom.jpg");
  background-size:cover;
  width:100%;
  text-align: center;
  position: relative;
  
}


.kakko{
  width: 860px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
.kakko::before, .kakko::after {
  content: "";
  width:50px;
  height: 50px;
  position: absolute;
  display: inline-block;
  box-sizing: border-box;

}
.kakko::before{
border-top:4px solid #ebb94d ;
border-left:4px solid #ebb94d;
top: 0;
left: 0;
}
.kakko::after{
  border-bottom:4px solid #ebb94d ;
  border-right:4px solid #ebb94d;
  bottom: 0;
  right: 0;

}
.kakko .engineer {
  padding: 30px 0 30px 0;
}
.underline {
  background: linear-gradient(transparent 10%,#ebb94d 100%);
  font-weight: 600;
}
.kasegu{
  margin-top: 50px;
}
.btn3{
  display:block;
  text-align: center;
  z-index: 9;
  

  
  
  
}
.about-letter{
  border: 1px solid #ebb94d; 
  display:inline-block;
  height:70px;
  width:70px;
  color: white;
  line-height: 70px;
  border-radius: 50%;
  background-color:#ebb94d;
  text-align: center;
  position:absolute;
  margin-top: -35px;
  
}
/*-------------skill--------------------*/
.skill{
  z-index: 6;
  background-color:#fef5e0;
  height: 460px;
  width:100%;
  margin-top: -50px;
  text-align: center;
  padding-top: 100px;

}

.kakko2{
  width: 860px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  position: relative;
  z-index: 5;
  padding:5px;
  

}
.kakko2::before, .kakko2::after {
  content: "";
  width:50px;
  height: 50px;
  position: absolute;
  display: inline-block;
  box-sizing: border-box;

}
.kakko2::before{
border-top:4px solid #ebb94d ;
border-left:4px solid #ebb94d;
top: 0;
left: 0;
}
.kakko2::after{
  border-bottom:4px solid #ebb94d ;
  border-right:4px solid #ebb94d;
  bottom: 0;
  right: 0;

}
.kakko2 .engineer {
  padding: 30px 0 30px 0;
}
.engineer2{
  font-weight: bold;
  font-size: 24px;

}
.focus {
  font-weight: bold;
  letter-spacing: 2px;
  
}
/*---------box------*/
.skill-box{
  border: 2px solid #ebb94d;
  margin:0 10px 0 10px;
  height: 250px;
  background-color: white;
}
.skills5 {
  margin: 35px 20px 40px 20px;
  font-weight:bold;
}

.skill-variation {
    
    display:flex;
    font-size : 12px;
    width: 80%;
    margin: 0 auto;

}
.picture{
  width: 100%;
}

.skil-picture2{
  padding-bottom:10px;
}
/*-----------about-second----------------------*/
.about-second {
  background-image: url("../aboutsecondbg.jpg");
  background-size: cover;
  height: 400px;
  width:100%;
  text-align: center;
  padding-top:50px
}
.basic {
  margin: 0;
  color: white;
  font-weight:bold ;
  font-size: 26px;
}
.basic2 {
  color:white;
  font-weight:bold ;
  line-height:2.2em;
  font-size:18px;

}
.basic2 span {
  color: #ebb94d;
}

.as-box{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
}
.step{
  width: 30%;
  background-color: white;
  height: 170px;
  margin-right: 15px;
  border-radius: 3px;



}
.number {
  background-color:#ebb94d;
  width: 80%;
  margin: 20px auto;
  border-radius: 3px;
  color: white;
  font-weight: bold;


}  
.step .text{
  font-weight: bold;
  margin-top: 25px;
  line-height: 40px;
  letter-spacing: 2px;
}

.skillup{
  background-color: #016ea9; 
  height: 130px;
}
.skillup-text{
  margin: 0;
  text-align: center;
  padding-top: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 34px;
  letter-spacing: 3px;
  line-height: 1.8em;
  

}
.sut-span{
  color: #ebb94d;
}
/*----------------learning------------------------*/
.learning{
  height: 460px;
}
.learning h3{
  text-align: center;
font-size: 30px;
padding-top: 30px;
}  
.isaras {
  font-size: 14px;
}
.learning p {
  text-align: center;
  font-size: 22px;

} 
.circle {
  display: flex;
  justify-content: center;
  padding-top: 10px;

}
.circle-item {
  margin: 0 30px;
} 
.isara-message{
  text-align: center;
  font-size: 10px;
  line-height: 4em;
}
/*---------------merit------------------------------*/  
.merit{
  height:970px;
  background-color:#fef5e0 ;
  padding-top:20px;
  
  width:100%;
  text-align: center;
  position: relative;
  
}


.kakko{
  width: 860px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
.kakko::before, .kakko::after {
  content: "";
  width:50px;
  height: 50px;
  position: absolute;
  display: inline-block;
  box-sizing: border-box;

}
.kakko::before{
border-top:4px solid #ebb94d ;
border-left:4px solid #ebb94d;
top: 0;
left: 0;
}
.kakko::after{
  border-bottom:4px solid #ebb94d ;
  border-right:4px solid #ebb94d;
  bottom: 0;
  right: 0;

}
.merit-text {
  padding: 30px 0 30px 0;
}
.merit-texts {
  font-size: 14px;
  font-weight: 600;
}
.flex{
  display: flex;
  justify-content: center;

}
.flex-box{
  width: 28%;
  margin:20px;
  text-align: left;
}
.flex-box p{
  font-size: 14px;
}
.merit-big-box{
  height: 220px;
  width: auto;
  margin: 10px 20px 0;
  border: 2px solid #ebb94d ;
  background-color: white;
  padding: 5px;
  
}
.merit-letter{
  margin-top:35px;
  
}
.merit-big-box h3{
  font-size: 24px;
  color: #ebb94d;
  font-weight: bold;
  margin: 0;
  
}
.merit-big-box h4{
  margin: 10px ;
}
.merit-big-box p{
  font-size:14px;
  font-weight: 600;
}
.merit-last{
  text-align: center;
  font-size: 12px;
  margin-top: 35px;
}






  


  
  
    
  
  
  
  
  
